html, body {
  height: 100%;
  margin: 0;
}

html {
  padding: 0px 16px;
}

* {
  font-family: Overpass, "Open Sans", Arial, sans-serif;
}

.node circle {
  fill: white;
  stroke: #333333;
  stroke-width: 1px;
  cursor: grab;
}

.active-node circle {
  stroke: teal;
  stroke-width: 3px;
}

path.link {
  fill: none;
  stroke: #dddddd;
}
