html, body {
  height: 100%;
  margin: 0;
}

html {
  padding: 0px 16px;
}

* {
  font-family: Overpass, "Open Sans", Arial, sans-serif;
}

.node {
    cursor: grab;
}

.node circle {
  fill: white;
  stroke: #333333;
  stroke-width: 1px;
}

.node text {
  font-family: "Fira Mono", "Liberation Mono", monospace;
  font-size: 10px;
}

.active-node circle {
  stroke: teal;
  fill: lightblue;
  stroke-width: 2px;
}

.active-node text {
  fill: teal;
  font-weight: bold;
}

path.link {
  fill: none;
  stroke: #dddddd;
}
